* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: radial-gradient(circle, #372a51e6, #0f0d13);
    font-family: 'Roboto', sans-serif;
}

#view {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: 
    'A B'
    'A C';
    gap: 32px;
    place-content: center;
    height: 100vh;
}

/*player-1*/

#player-1 {
    grid-area: A;
    padding: 50px 38px;
}

#player-1 img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
}

#player-1 .content {
    width: 190px;
}

#player-1 .info {
    margin-top: 28px;
}

/*player-2*/

#player-2 {
    grid-area: B;
}

/*player-3*/

#player-3 {
    grid-area: C;
}

.player {
    background-color: #2A2141;
    padding: 28px;
    border-radius: 10px;
}

.player img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 6px;
}
.info {
    color: #E1E1E6;
    gap: 9.6px;
}

.info-content {
    display: flex;
    gap: 9.6px;
    align-items: center;
}

.info h1 {
    font-size: 22px;
    margin-bottom: 9.6px;
}

.info p {
    opacity: 0.67;
    font-size: 18px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    align-items: center;
}

.horizontal .controls {
    padding-inline: 58px;
}

.vertial .controls {
    align-items: center;
}

.track {
    position: relative;
    margin-top: 1rem;
}

.track::before {
    content: '';
    height: 6px;
    width: 100%;
    display: block;
    background: #d9d9d9;
    opacity: 0.3;
    border-radius: 10px;
    position: absolute;
}

.track::after {
    content: '';
    height: 6px;
    width: 80%;
    display: block;
    background: #d9d9d9;
    border-radius: 10px;
}

.time {
    font-size: 14px;
    color: #c4c4cc;
    display: flex;
    opacity: 0.7;
    justify-content: space-between;
}
